$softred: #ff4757;
$grisaille: #57606f;
//$background: #f1f2f6;
$background: white;
$background-callout: #dfe4ea;
$background-footer: white;
$peace: #a4b0be;
$lightgrey: #f1f2f6;
$text-footer: $peace;
$baywharf: #747d8c;
$antiflashwhite: #f1f2f6;

body {
  color: $grisaille;
}
