$softred: #ff4757;
$grisaille: #57606f;
//$background: #f1f2f6;
$background: #f1f2f6;
$background-footer: #dfe4ea;
$peace: #a4b0be;
$text-footer: $peace;
$baywharf: #747d8c;

body {
  color: $grisaille;
}
