.is-static {
  position: static;
}

.u-full-height {
  height: 100%;
}

a.button {
  text-overflow: ellipsis;
}

.width-50em {
  width: 100%;
  max-width: 50em;
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

#center-column {
  padding-top: 12px;
  margin-top: $navbar-height + 12px;
  flex: 1;
  background-color: white;
}

.border-box {
  box-sizing: border-box;
}

.min-view-height {
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
