a {
  transition: background-color .05s;
}

.has-text-darkgrey {
  color: $peace;
}

a {
  color: inherit;
  transition: color 50ms;
  &:hover {
    color: $softred;
  }
}

a.button {
  border: 1px solid;
  border-color: transparent;
}
a.button:hover {
  border-color: $peace;
}

.is-centered {
  display: table;
  margin: 0 auto;
}

.small-uppercase {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $peace;
  text-decoration: none;
  margin: 0 .5rem 0 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $background;
  //font-weight: 400;
}

.latest {
  margin-top: 3rem;
}

.space-above {
  margin-top: 1rem !important;
  &-more {
    margin-top: 3rem !important;
  }
}

.space-below {
  margin-bottom: 1rem;
  &-more {
    margin-bottom: 3rem;
  }
}

.boxed {
  border: solid 1px #a4b0be;
  background: lightgrey;
}

@media (min-width: 750px) {
  .padded-mobile {
    padding: 0;
  }
}

.padded-mobile, .padded {
  padding: 1rem 2rem 1rem 2rem;
}
p {
  img {
    width: 100%;
  }
}

.circle-img {
  width: 100px;
  text-align: center;
  img {
    width: 200px;
    border-radius: 100px;
    margin-left: calc(50% - 100px);
    background: 0;
  }
}

.has-text-red {
  color: $softred;
}

.justified {
  text-align: justify;
}

th {
  font-weight: 700;
}

.has-text-centered {
  text-align: center;
}

.has-text-centered-mobile {
  text-align: center;
}

.has-text-right-desktop {
  text-align: initial;
}



@media (min-width: 750px) {
  .has-text-centered-mobile {
    text-align: initial;
  }
  .has-text-right-desktop {
    text-align: right;
  }
}

.has-text-right {
  text-align: right;
}

.has-large-icons {
  font-size: 3.5rem;
}

.has-small-icons {
  font-size: 1.2rem;
}

strong {
  font-weight: 700;
}

.nav-divider {
  font-variant: all-small-caps;
  margin-right: 1rem;
  color: $softred;
  font-weight: 700;
  border-bottom: 1px solid $softred;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.all-small-caps {
  font-variant: all-small-caps;
}

.elevate {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  transition: border .1s;
  background: white;
}

.elevate-hover:hover {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  transition: border .1s;
}

.rounded {
  border-radius: 4px;
}

.pad24 {
  padding: 24px;
}

.pad24-sides {
  padding: 0 24px 0 24px;
}

.clickable {
  cursor: pointer;
}

.paginator {
  text-transform: uppercase;
  i {
    margin-bottom: -7px;
  }
  a, .spacer {
    display: inline-block;
    width: 48px;
    text-align: center;
  }
}

.index-button-group {
  .index-button-container {
    display: block;
    float: left;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    a {
      overflow: hidden;
    }
  }
}

@media (min-width: 750px) {
  .index-button-group {
    position: relative;
    clear: both;
    content: "";
    display: block;
    .index-button-container {
      display: block;
      float: left;
      margin-right: 0;
      margin-left: 8px;
      &:first-of-type {
        margin-left: 0;
      }
      width: calc(50% - 4px);
      a {
        overflow: hidden;
      }
    }
  }
}


.hero {
  position: relative;
}

.article-inner {
  max-width: 50em;
}

.article-preview-hero-container {
  border-radius: 4px;
  overflow: hidden;
  .hero {
    margin-top: 0;
  }
}

.overflow-auto {
  overflow: auto;
}

.front-matter-cluster {
  font-size: 1.2rem;
  text-transform: uppercase;
  a {
    text-transform: uppercase;
  }
}

.highlight pre {
  background: none !important;
  overflow: hidden;
}

code {
  background: #2f3542;
  color: white;
  font-weight: bold;
  overflow-x: auto;
}

.pad8 {
  padding: 8px;
}
.pad12 {
  padding: 12px;
}

.toc {
  width: auto;
  display: inline-block;
  ul {
    counter-reset: section;
    list-style-type: none;
  }
  li::before {
    counter-increment: section;
    content: counters(section,".") " ";
  }
  ul {
    li {
      list-style: none;
      margin-left: 2rem;
      margin-bottom: .5rem;
      ul {
        margin-top: .5rem;
        li {
          margin-bottom: .5rem;
        }
      }
    }
  }
}

.section-title {
  font-weight: bold;
  color: $softred;
}

.has-border-bottom {
  border-bottom: 1px solid $lightgrey;
}
.has-border-top {
  border-top: 1px solid $lightgrey;
}
