
$softred: #ff4757;
$background: #f1f2f6;

h1, h2, h3, h4, h5, h6 {
  color: black;
  a {
    color: black;
  }
  display: block;
  margin-bottom: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3, h4, h5, h6 {
  font-size: 1.8rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-weight: 700;
}

a {
  transition: background-color .05s;
}

code {
  color: darkred;
}

.has-text-darkgrey {
  color: darkgrey;
}

a {
  color: inherit;
  &:hover {
    color: black;
    background-color: rgba(255,0,0,0.1);
  }
}

a.button {
  background-color: white;
}
a.button:hover {
  background-color: white;
}

.is-centered {
  display: table;
  margin: 0 auto;
}

header {
  transition: height .45s;
  background-color: white;
  z-index: 999;
  margin-right: 0;
  margin-top: 1rem;
  text-align: left;
  width: calc(100% - 48px);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  top: -10px;
  left: 0;
  position: fixed;
  overflow: hidden;
  nav {
    ul {
      li {
        list-style: none;
        margin-bottom: .25rem;
        margin-right: 1rem;
        margin-left: -24px;
        a {
          padding-left: 24px;
          color: black;
        }
      }
    }
  }

  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);

  #navigation-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &.navigation-mobile-shown {
    height: 100vh;
  }
  height: 43px;
  &.navigation-mobile-hidden {
    height: 43px;
  }
}

main {
  margin-top: 60px;
  &.space-above-more {
    margin-top: 60px;
  }
}

@media (min-width: 750px) {
  main {
    margin-top: 0;
    &.space-above-more {
      margin-top: initial;
    }
  }
  header {
    nav ul li a {
      opacity: 0.25;
      transition: opacity .1s;
    }
    nav ul li a.active {
      opacity: 1;
    }
    &:hover {
      nav ul li a {
        opacity: 1;
      }
    }
    .site-heading {
      width: 200%;
      margin-left: -100%;
    }
    width: 100%;
    max-width: 220px;
    background: $background;
    z-index: initial;
    margin-right: 0;
    margin-top: 3rem;
    text-align: right;
    padding: initial;
    position: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    transition: none;
    overflow: initial;
    .navigation-list {
      overflow: initial;
    }
    &.navigation-mobile-shown, &.navigation-mobile-hidden {
      height: auto;
    }
    #site-description {
      width: auto;
    }
    height: auto;
    nav {
      ul {
        li {
          list-style: none;
          margin-bottom: .25rem;
          margin-right: -24px;

          a {
            color: black;
            padding-right: 24px;
            padding-left: 4px;
          }
          display: list-item;
        }
      }
    }
    .navigation-mobile-hidden {
      height: auto;
    }
  }
}

article {
  margin-top: 3rem;
  > time {
    color: darkgrey;
    font-variant: all-small-caps;
  }
  > .content {
    margin-top: 2rem;
  }
  margin-bottom: 3rem;
  li {
    list-style-position: outside;
    margin-left: 1cm;
  }
  .newest {
    margin-bottom: 3rem;
  }
  .content > h1, h2, h3, h4, h5, h6 {
    display: table;
    padding: 4px 32px 4px 24px;
    margin-left: -24px;
    margin-right: 24px;
  }
}

.tag {
  font-variant: all-small-caps;
  &:before {
    content: "["
  }
  &:after {
    content: "]"
  }
  color: darkgrey;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $background;
  font-weight: 400;
}

.latest {
  margin-top: 3rem;
}

.space-above {
  margin-top: 1rem;
  &-more {
    margin-top: 3rem;
  }
}

.space-below {
  margin-bottom: 1rem;
  &-more {
    margin-bottom: 3rem;
  }
}

.boxed {
  border: solid 1px darkgrey;
  background: lightgrey;
}

#navigation-hamburger {
  display: block;
  position: fixed;
  right: 24px;
  top: 22px;
  font-size: 1.7rem;
}

@media (min-width: 750px) {
  .padded-mobile {
    padding: 0;
  }
  #navigation-hamburger {
    display: none;
  }
}

.padded-mobile, .padded {
  padding: 1rem 2rem 1rem 2rem;
}

.site-heading {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: $softred;
  a {
    color: $softred;
    text-decoration: none;
  }
}

p {
  img {
    width: 100%;
  }
}

.circle-img {
  width: 100px;
  text-align: center;
  img {
    width: 200px;
    border-radius: 100px;
    margin-left: calc(50% - 100px);
  }
}

footer {
  margin-top: 3rem;
  font-variant: all-small-caps;
  max-width: 50em;
}

.has-text-red {
  color: $softred;
}

.justified {
  text-align: justify;
}

th {
  font-weight: 500;
}

.has-text-centered {
  text-align: center;
}

.has-text-centered-mobile {
  text-align: center;
}

.has-text-right-desktop {
  text-align: initial;
}



@media (min-width: 750px) {
  .has-text-centered-mobile {
    text-align: initial;
  }
  .has-text-right-desktop {
    text-align: right;
  }
}

.has-text-right {
  text-align: right;
}

.has-large-icons {
  font-size: 3.5rem;
}

.has-small-icons {
  font-size: 1.2rem;
}

strong {
  font-weight: 500;
}

.nav-divider {
  font-variant: all-small-caps;
  margin-right: 1rem;
  color: $softred;
  font-weight: 700;
  border-bottom: 1px solid $softred;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.article-divider {
  font-variant: all-small-caps;
  margin-right: 1rem;
  color: $softred;
  font-weight: 700;
  border-bottom: 1px solid $softred;
  font-family: 'Montserrat', sans-serif;
  width: 100%;

  &:first-of-type {
    margin-top: calc(3rem - 6px);
  }
}

.all-small-caps {
  font-variant: all-small-caps;
}

header {
  li {
    a {
      padding-right: .5rem;
      padding-left: .5rem;
      box-sizing: border-box;
      &.active {
        background: rgba(255, 0, 0, .1);
      }
    }
  }
}

.elevate {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0);
  transition: border .1s;
  background: white;
}

.elevate-hover:hover {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transition: border .1s;
}

.rounded {
  border-radius: 4px;
}

.article-preview {
  max-height: 66.66vh;
  overflow: hidden;
  position: relative;
  padding: 0px 24px 0 24px;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(69%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 69%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  }
}

.article-preview-read-more-button {
  .button {
    width: calc(100% - 48px);
  }
}

.pad24 {
  padding: 24px;
}

.pad24-sides {
  padding: 0 24px 0 24px;
}

.clickable {
  cursor: pointer;
}

#center-column {
  margin-left: auto;
  min-width: 56%;
}

.paginator {
  text-transform: uppercase;
  i {
    margin-bottom: -7px;
  }
  a, .spacer {
    display: inline-block;
    width: 48px;
    text-align: center;
  }
}

article {
  position: relative;
  #comments-button {
    display: inline-block;
    font-weight: 500;
    font-variant: all-small-caps;
    i {

    }
    a {
      text-decoration: none;
    }
    //transition: right .5s;
    a {
      //padding: 4px 8px 2px 8px;
    }
  }
}

.index-button-group {
  padding: 0 25px 0 25px;
  .index-button-container {
    display: block;
    float: left;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    a {
      overflow: hidden;
    }
  }
}

@media (min-width: 750px) {
  .index-button-group {
    position: relative;
    clear: both;
    content: "";
    display: block;
    padding: 0 25px 0 25px;
    .index-button-container {
      display: block;
      float: left;
      margin-right: 0;
      margin-left: 8px;
      &:first-of-type {
        margin-left: 0;
      }
      width: calc(50% - 4px);
      a {
        overflow: hidden;
      }
    }
  }
}


.hero {
  position: relative;
}

.article-inner {
  max-width: 50em;
}
