$callout-border-thickness: 1px;
.message {
  padding: 2rem;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 1rem 0 1rem 0;
  &.info {
    background-color: #d8e8ff;
    border: $callout-border-thickness solid #70a1ff;
    .message-icon {
      color: #70a1ff;
    }
  }
  &.danger {
    background-color: rgba(255,0,0,.1);
    border: $callout-border-thickness solid #ff4757;
    .message-icon {
      color: #ff4757;
    }
  }
  &.success {
    background-color: rgba(0,255,0,.1);
    border: $callout-border-thickness solid #7bed9f;
    .message-icon {
      color: #7bed9f;
    }
  }
  .message-icon {
    box-sizing: border-box;
    width: 2rem;
    position: absolute;
    display: none;
  }
}

.message.info {
  .message-icon.info {
    display: block;
  }
}

.message.danger {
  .message-icon.danger {
    display: block;
  }
}

.message.success {
  .message-icon.success {
    display: block;
  }
}

.message-body {
  color: black;
  margin-left: 2.8rem;
  margin-right: 0;
  box-sizing: border-box;
}
