h1, h2, h3, h4, h5, h6 {
  color: black;
  a {
    color: black;
  }
  display: block;
  margin-bottom: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  //letter-spacing: -1px;
  hyphens: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3, h4, h5, h6 {
  font-size: 2rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-weight: 700;
}

.small-headings {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3, h4, h5, h6 {
    font-size: 1.8rem;
  }
}
