h1, h2, h3, h4, h5, h6 {
  color: $grisaille;
  a {
    color: $grisaille;
  }
  font-family: 'Inter', Helvetica, sans-serif;
  display: block;
  hyphens: auto;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.9rem
}

h4 {
  font-size: 1.8rem
}

h5 {
  font-size: 1.7rem
}

h6 {
  font-size: 1.6rem
}
