#navigation {
  display: flex;
  position: fixed;
  height: $navbar-height;
  z-index: 999;
  nav {
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    justify-content: center;
    flex-direction: unset;
    display: block;
    background: white;
    border-bottom: none;
    overflow: hidden;
    padding: 0;
    height: auto;
    max-height: 0;

    &.navigation-mobile-hidden, &.navigation-mobile-shown {
      padding-left: 42px;
      padding-bottom: 24px;
      padding-top: 12px;
    }

    &.navigation-mobile-hidden {
      max-height: 0;
      padding: 0;
    }

    &.navigation-mobile-shown {
      max-height: 50vh;
      border-bottom: 1px solid lightgrey;
    }

    ul {
      list-style: none;
      margin-bottom: 12px;
      margin-top: 12px;
      li {
        display: list-item;
        margin: 4px 12px 4px 12px;
      }
    }
    a {
      text-decoration: none;
      box-sizing: border-box;
      color: $grisaille;
      &:hover {
        color: $softred;
      }
      &.active {
        color: $softred;
        border-bottom: 2px solid $softred;
      }
    }

    #navigation-hamburger {
      color: $softred;
      display: flex;
      flex-direction: unset;
      position: fixed;
      right: 22px;
      top: $navbar-height/2;
      transform: translateY(-50%);
      font-size: 1.7rem;
    }
  }
}



@media (min-width: 750px) {
  #navigation {
    position: fixed;
    height: $navbar-height;
    z-index: 999;
    nav {
      text-align: right;
      margin-right: 10px;
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      justify-content: center;
      padding: 0;
      border: none;
      ul {
        margin: 0;
        margin-top: $navbar-height/2;
        transform: translateY(-50%);
        list-style: none;
        li {
          display: inline-block;
          margin: 0 12px 0 12px;
          &:first-of-type {
            margin-left: 0
          }
        }
      }
      a {
        text-decoration: none;
        &.active {
          color: $softred;
        }
      }
      #navigation-hamburger {
        display: none;
      }
      max-height: 100vh;
      &.navigation-mobile-shown, &.navigation-mobile-hidden {
        max-height: 100vh;
        background: none;
        padding-top: 0;
        border: none;
        padding-left: 0;
      }
    }
  }
}


.site-heading {
  display: block;
  margin-right: 12px;
  margin-left: 22px;
  height: $navbar-height;
  .site-heading-inner {
    h1 {
      font-size: 1.7rem;
      margin: 0;
    }
    color: $softred;
    a {
      color: $softred;
      text-decoration: none;
    }
    margin-top: $navbar-height/2;
    transform: translateY(-50%);
  }
}

.site-subtitle {
  margin-right: 24px;
  vertical-align: middle;
  height: $navbar-height;
  .site-subtitle-text {
    display: inline-block;
    margin-top: $navbar-height/2;
    transform: translateY(-50%);
  }
}

// Flex Layout

#navigation-inner {
  position: absolute;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  header {
    position: relative;
    flex-shrink: 0;

  }
  .site-subtitle {
    flex-shrink: 0;
    display: block;
  }
  nav {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
