table {
  &.article-list {
    td {
      vertical-align: top;
      border: none;
      .article-divider {
        margin: 0;
      }
      &:first-of-type {
        width: 96px;
      }
    }
  }
}
