{{ define "main" }}
	<main id="index-main">
		{{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
		{{ $paginator := (.Paginate (after 1 $pages)) }}
		{{ if eq .Paginator.PageNumber 1 }}
			<div class="article-divider newest space-below-more">Latest</div>
			{{ $first := index $pages 0 }}
			{{ with $first }}
				<div class="rounded elevate elevate-hover space-below-more">
				<article class="article-preview space-below">
					{{ template "partials/article.html" . }}
					<div class="overlay"></div>
				</article>
				<div class="article-preview-read-more-button u-full-width space-above-more space-below-more">
					<a href="{{ .Permalink }}" class="button is-centered">Continue Reading</a>
				</div>
				</div>
			{{ end }}
		{{ end }}

		<div class="article-divider space-below-more">All Articles</div>
			{{ range $paginator.Pages }}
			<div class="rounded elevate elevate-hover space-below space-above pad24-sides">
			{{ .Render "summary" }}
			</div>
			{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
