{{ if gt (len (.Get 1)) 0 }}
<aside class="message {{ .Get 0 }}">
    <div>
        <div class="message-icon info">
            <i class="fa fa-info-circle"></i>
        </div>
        <div class="message-icon danger">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="message-icon success">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="message-body">
            <p>{{ .Get 1 }}</p>
        </div>
    </div>
</aside>
{{ else }}
<aside class="message {{ .Get 0 }}">
    <div>
        <div class="message-icon info">
            <i class="fa fa-info-circle"></i>
        </div>
        <div class="message-icon danger">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="message-icon success">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="message-body">
            {{ .Inner | markdownify }}
        </div>
    </div>
</aside>
{{ end }}

