.simple-image {
    padding: 20px 0;
}

.simple-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

#editorjs {
    border: solid 2px darkgrey;
}

.outcomes-block {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

.outcomes-block-cell {
    width: 40%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-left: 8px;
    outline: none;
    padding: 2px 7px;
}

.outcomes-block-cell:first-of-type {
    margin-left: 0;
}
