.linkbox {
  padding: 2rem 3rem 2rem 3rem;

  .align-icon-text {
    position: relative;
    top: 5px;
    margin-right: 5px;
  }

  .text-container {
    max-width: 66.67%;
  }
}

.has-background-dark {
  //background: #2f3542;
  background: white;
}

.article-image {
  display: inline-block;
  img {
    margin: 0;
  }
}

.pad12 {
  padding: 12px;
}
