<h1>{{ .Title }}{{ if .Page.Draft }} <span class="has-text-darkgrey">[DRAFT]</span>{{ end }}</h1>
<p class="has-text-darkgrey has-text-centered"><i class="fas fa-book-open"></i>
  {{ .ReadingTime }} minute read</p>
{{ template "partials/hero.html" . }}
{{ if .Params.toc }}
  {{ template "partials/toc.html" . }}
{{ end }}
<div class="content">
  {{ .Content }}
</div>
<div class="has-text-darkgrey front-matter-cluster space-below u-full-width">
  <table class="u-full-width">
    <tr>
      <td><i class="fas fa-book has-text-red"></i></td>
      <td class="has-text-red">{{ .Page.Params.Type }}</td>
    </tr>
    <tr>
      <td><i class="fas fa-user has-text-darkgrey has-small-icons"></i></td>
      <td>
        {{ $.Param "author" }} on
        <time>{{ .Date.Format "2 January 2006" }}</time>
      </td>
    </tr>
    <tr>
      <td><i class="fas fa-tags has-text-darkgrey has-small-icons"></i></td>
      <td>
        {{ range .Params.tags }}
        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  {{ block "single_buttongroup" . }}{{ end }}
</div>
