{{ $page := .Page }}
<div class="hero u-full-width space-above-more">
    {{ with ($page.Params.hero_image) }}
        {{ with ($page.Resources.GetMatch .) }}
            {{ $image := .Fill "800x500" }}
                <img class="hero-image u-full-width elevate elevate-hover" alt="" src="{{ $image.RelPermalink }}"/>
        {{ end }}
    {{ end }}
    {{ with ($page.Params.hero_image_attribution_text) }}
        {{ $text := . }}
        {{ with ($page.Params.hero_image_attribution) }}
            {{ $href := . }}
            <div class="hero-attribution u-full-width pad24-sides has-text-centered has-text-darkgrey">
                <a href="{{ $href }}" class="">
                    <i class="fas fa-camera-retro"></i>
                    {{ $text }}
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>
