<div class="has-text-darkgrey paginator is-centered space-above-more">
{{ if .Paginator.HasPrev }}
	<a href="{{ .Paginator.Prev.URL }}"><i class="fas fa-chevron-left"></i></a>
{{ else }}
	<span class="spacer">&nbsp;&nbsp;</span>
{{ end }}
{{ if gt .Paginator.TotalPages 0 }}
	{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
{{ end }}
{{ if .Paginator.HasNext }}
	<a href="{{ .Paginator.Next.URL }}"><i class="fas fa-chevron-right"></i></a>
{{ else }}
	<span class="spacer">&nbsp;&nbsp;</span>
{{ end }}
</div>
