@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$junebud: #badc58;
$pureapple: #6ab04c;
$coffee: #eeb17f;
$coffee-dark: #996c55;

.color-link {
  color: $coffee;
}

.color-link:visited {
  color: $coffee;
}

.paginator {
  a {
    color: $coffee;
  }
}

.twitter-tweet {
  border-left: 4px solid $coffee !important;
}

.color-link:hover {
  color: $coffee-dark;

  .color-arrow {
    fill: $coffee-dark;
  }
}

.circle-img {
  img {
    width: calc(100% - 24px);
    max-width: 224px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
  }
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .site-title > a {
  font-family: "Inter", sans-serif;
  font-weight: 700
}

.nav-menu {
  a {
    transition: 0.05s margin-left;
    font-family: "Karla", sans-serif;
  }
  a:hover {
    margin-left: 1mm;
  }
  ul {
    list-style-type: none;
    padding-left: 4mm;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
  }
  li {
    display: inline-flex;
  }
  text-align: center;
}

@mixin media($for-tablet-up) {
  @media only screen and (min-width: $for-tablet-up) {
    @content;
  }
}

@include media(900px) {
  .nav-menu {
    li {
      display: list-item;
    }
    text-align: left;
  }
}
