<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ff0000">
	<link rel="shortcut icon" href="/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#ff0000">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ff0000">
	{{ if eq .Title .Site.Title }}
		<title>{{ .Title }}</title>
	{{ else }}
		<title>{{ .Title }} - {{ .Site.Title }}</title>
	{{ end }}
	{{ template "_internal/opengraph.html" . }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ $main_style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $main_style.Permalink }}"/>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	{{ template "_internal/google_analytics.html" . }}
	{{ if isset .Site.Params "additionalheadpartial" }}
		{{ partial .Site.Params.additionalHeadPartial . }}
	{{ end }}
	{{ if .Site.IsServer }}
	<script async src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
	{{ else }}
	<script async src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	{{ end }}
	{{ $opts := dict "minify" true }}
	{{ $index_js := resources.Get "js/index.js" | js.Build $opts }}
	<script async src="{{ $index_js.RelPermalink }}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>
<body>
	<div class="u-full-width overflow-auto min-view-height flex-container">
		{{ partial "navigation" . }}
		<div id="center-column" class="width-50em block-centered border-box pad12">
			{{ block "main" . }}{{ end }}
		</div>
		{{ partial "footer" . }}
	</div>
</body>
</html>
