{{ define "main" }}
	<main class="space-above-more">
		{{ if .Title }}
		<div class="space-below-more">
			{{ with .Title }}<span>Posts tagged <strong>{{ . }}</strong>:</span>{{ end }}
		</div>

		{{ end }}
		{{ if .Content }}
		<div>
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}

		<div class="article-list">
			{{ range .Paginator.Pages }}
			<div class="article-list-item has-border-top">
				<div class="overflow-auto space-below">
				{{ .Render "summary" }}
				</div>
			</div>
			{{ end }}
		</div>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
