{{ define "main" }}
<main>
  <div class="space-above-more">
    <h1 class="has-text-centered">
      {{ .Title }}
    </h1>
    <div class="content">
      {{ .Content }}
    </div>
    <table class="article-list">
      {{ range .Paginator.Pages.GroupByDate "January 2006" }}
        <tr>
          <td>
            <div class="article-divider">{{ .Key }}</div>
          </td>
          <td>
            {{ range .Pages }}
            <div class="overflow-auto space-below-more">
              {{ .Render "summary" }}
            </div>
            {{ end }}
          </td>
        </tr>
      {{ end }}
    </table>
  </div>
  {{ partial "pagination.html" . }}
</main>

{{ end }}
