{{ define "main" }}
<main>
  <div class="space-above-more">
    <h1 class="has-text-centered">
      {{ .Title }}
    </h1>
    <p>{{ range .Params.tags }}
      <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}</p>
    <div class="content">
      {{ .Content }}
    </div>
    {{ range .Paginator.Pages.GroupByDate "January 2006" }}
      <div class="article-divider space-above-more">{{ .Key }}</div>
      {{ range .Pages }}
        <div class="overflow-auto space-below-more">
        {{ .Render "summary" }}
        </div>
      {{ end }}
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</main>

{{ end }}
