{{ define "single_buttongroup" }}
	{{ if isset .Site.Params "socialbarpartial" }}
		{{ partial .Site.Params.socialBarPartial . }}
	{{ end }}
{{ end }}

{{ define "main" }}
	<main>
		<article class="space-above-more">
			<div class="article-inner">
				{{ template "partials/article.html" . }}
				<div id="after-article" class="rounded elevate elevate-hover pad8">
					{{ with .Site.DisqusShortname }}
					<div>
						{{ template "_internal/disqus.html" . }}
					</div>
					{{ end }}
					{{ if isset .Site.Params "talkyardserverurl"}}
					<div id="comments">
						{{ template "partials/talkyard.html" . }}
					</div>
					{{ end }}
				</div>
				<p class="has-text-centered space-above-more">
					<a class="button" href="{{ .Page.CurrentSection.RelPermalink }}">
						<i class="fas fa-arrow-circle-left"></i>
						Back to {{ .Page.Section }}
					</a>
					<a class="button" href="#">
						<i class="fas fa-arrow-circle-up"></i>
						Back to Top
					</a>
				</p>
			</div>
		</article>
	</main>
{{ end }}
