{{ define "single_buttongroup" }}
<div id="comments-button" class="space-above">
	<a href="#after-article" class="has-text-darkgrey">
		&nbsp;
		<i class="fas fa-arrow-circle-right has-small-icons"></i>
		<span id="comments-button-label">
			Comments
		</span>
	</a>
</div>
{{ end }}

{{ define "main" }}
	<main>
		{{ template "partials/hero.html" . }}
		<article>
			{{ template "partials/article.html" . }}
			<div id="after-article" class="rounded elevate elevate-hover pad24">
				{{ with .Site.DisqusShortname }}
				<div>
					{{ template "_internal/disqus.html" . }}
				</div>
				{{ end }}
				{{ if isset .Site.Params "socialbarpartial" }}
					<a id="social-bar"></a>
					{{ partial .Site.Params.socialBarPartial . }}
				{{ end }}
				{{ if isset .Site.Params "talkyardserverurl"}}
				<div id="comments">
					{{ template "partials/talkyard.html" . }}
				</div>
				{{ end }}
			</div>
			<p class="has-text-centered space-above-more">
				<a class="button" href="#">
					<i class="fas fa-arrow-circle-up"></i>
					Back to Top
				</a>
			</p>
		</article>
	</main>
{{ end }}
