<article class="small-headings">
	<h1>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ if .Page.Draft }}
		<span class="has-text-darkgrey">[DRAFT]</span>
		{{ end }}
	</h1>
	<div class="space-above">
		{{ if isset .Params "description" }}
			{{ .Params.description }}
		{{ else }}
			{{ .Summary }}
		{{ end }}
	</div>
	<i class="fas fa-book has-text-red has-small-icons"></i>
	<span class="has-text-red small-uppercase">{{ .Params.Type }}</span>
	<i class="fas fa-book-open has-text-darkgrey has-small-icons"></i>
	<span class="has-text-darkgrey small-uppercase">{{ .ReadingTime }} minute read</span>
	<i class="fas fa-user has-text-darkgrey has-small-icons"></i>
	<span class="has-text-darkgrey small-uppercase">{{ .Params.Author }} on </span><time>{{ .Date.Format "2 January 2006 15:04" }}</time>
	<i class="fas fa-tags has-text-darkgrey has-small-icons"></i>
	{{ range .Params.tags }}
	<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
</article>
