<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <aside class="nav-desktop is-hidden-mobile">
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a class="color-link" href="{{ .URL | relLangURL }}" >{{ .Pre }}{{ .Name }}</a>
      </li>
    {{ end }}
    </ul>
  </aside>
  <div class="nav-mobile is-hidden-tablet">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="color-link" href="{{ .URL | relLangURL }}" >{{ .Pre }}{{ .Name }}</a>
    {{ end }}
  </div>
{{ partial "footer.html" . }}
</nav>
