{{ define "main" }}
	<style>
		#navigation {
			display: none;
		}
		#center-column {
			margin-top: 0px;
			padding-top: 0;
		}
		footer {
			display: none;
		}
		#links-article p, #links-article h1, #links-article h2, #links-article h3 {
			text-align: center;
		}
		#links-article h1 {
			color: #ff4757;
		}
	</style>
	<main>
		<article id="links-article">
			<p>{{ range .Params.tags }}
				<a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}</p>
			<div class="content">
				{{ .Content }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ end }}
