{{ define "main" }}
  <h1>
    Projects
  </h1>
  <div>
      <div class="article-list-flat">
          <!-- Range over the pages and only include the ones that are a post type -->
          {{ $pages := where site.RegularPages "Type" "project" }}
          {{ range $pages }}
          <article>
              {{ if .Params.hero_image }}
                  <div class="hero-image">
                    <img src="{{ .Params.hero_image }}" />
                  </div>
              {{ end }}
              <h2>
                  <a href="{{ .Permalink }}">
                      {{ .Title }}
                  </a>
              </h2>
              <div>
                  <p>{{ .Summary }}</p>
                  {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
                  <p><a href="{{ .RelPermalink }}">Read more...</a></p>
                  {{ end }}
              </div>
              <div class="post-footer">
                  <time>{{ .Date.Format "January 2, 2006" }}</time>

                  <!-- Display tags -->
                  {{if .Params.tags}}
                  {{ range .Params.tags }}
                  <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
                  {{ end }}
                  {{ end }}
              </div>

          </article>
          {{ end }}
      </div>
  </div>

  <div class="page-footer"></div>

{{ end }}
